
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0c10;
}


.container {
    /* border: 1px solid red; */
    background-color: #0b0c10;
    width: 80%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}


h1 {
    /* border: 1px solid red; */
    padding: 1rem;
    font-weight: 100;  
    color: #66FCF1;
    text-align: center;
    border-bottom: .1px solid #66FCF1;
}
.main {
    font-size: 4rem;

}

button {
    border-radius: 2px;
    padding: .5rem;
    border: none;
    margin: 0 auto;
    margin-top: 2rem;
    display: block;
    background-color: #1F2833;
    border: 1px solid #66FCF1;
    color: #66FCF1;
    font-size: 1rem;
    
    /* border: 1px solid red; */  
}

button:hover {
    color: #1F2833;
    background-color: #66FCF1;
}